@model IEnumerable<Shop.WebUi.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create"><button class="btn btn-info btn-lg">Create New</button></a>
<table class="table">
    <thead>
        <tr>
            <th>
                Questions
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-outline-light btn-sm">Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-outline-light btn-sm">Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-outline-light btn-sm">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
